* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor0: #419bc5;
  --cor1: rgb(221, 0, 0);
  --cor2: black;
  --cor3: rgb(1, 1, 138);
  --cor4: white;
  --cor5: rgb(230, 225, 225);

  --fonte-texto: "Dosis", sans-serif;
  --fonte-subtitulo: "Patua One", cursive;
  --fonte-titulo: "Rye", cursive;
}
#nav {
  background-image: linear-gradient(
    #398bb1,
    #2e799c,
    #2a6885,
    #204f64,
    #1b4558
  );
  font-family: var(--fonte-texto);
}
#menu {
  color: var(--cor4);
}
#menu2 {
  color: var(--cor2);
  text-decoration: none;
  border: none;
}
#menu3{
  color: var(--cor1);
}
#menu:hover {
  color: var(--cor1);
  transition-delay: 0.2s;
}
#section1 {
  background-color: var(--cor2);
  text-shadow: 1px 1px 1px;
}
#titulo1 {
  font-family: var(--fonte-titulo);
  font-size: 2rem;
  color: var(--cor0);
  text-shadow: 1px 1px 1px black;
}
#titulo2 {
  font-family: var(--fonte-titulo);
  font-size: 2rem;
  color: var(--cor0);
  text-shadow: 1px 1px 1px #000000;
}
#texto1 {
  font-family: var(--fonte-texto);
  font-size: 1.3rem;
  text-align: justify;
  color: var(--cor4);
}
#texto5 {
  font-family: var(--fonte-texto);
  font-size: 1.3rem;
  text-align:center;
  color: var(--cor4);
}
#texto2 {
  font-family: var(--fonte-texto);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #000000e1;
  padding: 1px;
  border-radius: 10px;
}
#subtitulo {
  font-family: var(--fonte-subtitulo);
  color: var(--cor0);
  text-shadow: 2px 1px 1px black ;
  font-size: 1.5rem;
}
#subtitulo2 {
  font-family: var(--fonte-subtitulo);
  color: var(--cor6);
  font-size: 1.8rem;
}
#btn {
  background-color: var(--cor1);
  color: var(--cor4);
  border-radius: 10px;
  padding: 1px 2px;
  width: 140px;
}
#btn:hover {
  background-color: var(--cor4);
  color: var(--cor1);
}
#btn2 {
  background-color: var(--cor1);
  color: var(--cor4);
  border-radius: 10px;
  padding: 6px 20px;
}
#btn2:hover {
  background-color: var(--cor4);
  color: var(--cor1);
}
#img {
  width: 100%;
  height: 80vh;
}
#logo {
  width: 18px;
}

#secrtion1 {
  background-color: var(--cor5);
}
#section2 {
  background-image: url(../img/bg-tijolos2.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#img2 {
  width: 100px;
  margin-bottom: 30px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
#img3 {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #ffff;
}
#img4{
  width: 120px;
}
#card1 {
  background-image: url(../img/bg-card-1-over.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: static;
}
#card2 {
  background-image: url(../img/bg-card-2-over.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: static;
}
#card3 {
  background-image: url(../img/bg-card-3-over.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: static;
}
#card4 {
  background-image: url(../img/bg-card-4-over.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: static;
}
#card5 {
  background-image: url(../img/bg-card-1-over.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: static;
}
#card6 {
  background-image: url(../img/bg-card-6-over.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: static;
}
#section4 {
  background-image: linear-gradient(
    #398bb1,
    #2e799c,
    #2a6885,
    #204f64,
    #1b4558
  );
}
#titulo3 {
  font-family: var(--fonte-titulo);
  font-size: 2rem;
  color: var(--cor1);
  text-shadow: 1px 1px 1px black;
  
}
#carrosel {
  height: 90vh;
}
#carrosel2 {
  height: 90vh;
  border: 2px solid white;
  border-radius: 8px;
}


@media (max-width: 450px) {
  #img {
    width: auto;
    height: auto;
  }
  #carrosel {
    height: 50vh;
  }
  #carrosel2 {
    height: 50vh;
  }
}

@media (max-width: 970px) {
  #img {
    width: auto;
    height: auto;
  }
}
